<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
    <head>
        {{- partial "head/head.html" . -}}
        {{- block "head" . -}}{{ end }}
    </head>
    <body class="{{ block `body-class` . }}{{ end }}">
        {{- partial "head/colorScheme" . -}}

        {{/* The container is wider when there's any activated widget */}}
        {{- $hasWidget := false -}}
        {{- range .Site.Params.widgets -}}
            {{- if gt (len .) 0 -}}
                {{- $hasWidget = true -}}
            {{- end -}}
        {{- end -}}
        <div class="container main-container flex on-phone--column {{ if $hasWidget }}extended{{ else }}compact{{ end }}">
            {{- block "left-sidebar" . -}}
                {{ partial "sidebar/left.html" . }}
            {{- end -}}
            {{- block "right-sidebar" . -}}{{ end }}
            <main class="main full-width">
                {{- block "main" . }}{{- end }}
            </main>
        </div>
        {{/* Waveform Background Animation */}}
        <div id="waveform" class="waveform waveform--loading">
            <svg class="waveform-svg" viewBox="0 0 1440 200" preserveAspectRatio="none">
                <path class="waveform-path waveform-path-1" d="M0,100 Q360,100 720,100 T1440,100"></path>
                <path class="waveform-path waveform-path-2" d="M0,120 Q360,120 720,120 T1440,120"></path>
                <path class="waveform-path waveform-path-3" d="M0,140 Q360,140 720,140 T1440,140"></path>
            </svg>
        </div>
        {{ partial "auth/init.html" . }}
        {{ partial "footer/include.html" . }}
    </body>
</html>
