/*
*   Style: github-dark (VSCode Dark+ inspired)
*   https://xyproto.github.io/splash/docs/github-dark.html
*/

[data-scheme="dark"] {
    $color: #e6edf3;
    $background-color: #0d1117;
    $error-color: #f85149;
    $keyword-color: #ff7b72;
    $text-color: $color;
    $name-color: #d2a8ff;
    $literal-color: #a5d6ff;

    @import "common.scss";
}
